.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.coupon {
    border-radius: 12px;
    box-shadow: 5px 8px 10px #d6d5d533
}

.coupon-img {
    height: 3em;
    width: 3em;
    object-fit: cover;
}

.input-img {
    height: 14em !important;
    width: 14em !important;
    object-fit: cover;
    cursor: pointer;
    transition: background-color .3s;
}

.input-img:hover {
    background-color: rgba(0, 0, 0, .125);
}

.card:hover,
.card:focus {
    color: #1e2125;
    background-color: #e9ecef;
    border-color: rgba(0, 0, 0, .125);
    cursor: pointer;
}

.card:active,
.card-active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
    border-color: #fff;
}

.card-img,
.card-img-top,
.card-img-bottom {
    height: 15em;
    object-fit: cover;
    border-top-left-radius: calc(12px - 1px);
    border-top-right-radius: calc(12px - 1px);
}

.card-hover-zoom:hover img,
.card-hover-zoom:focus img {
    transform: scale(1.1);
}

.card-img-hover-zoom {
    overflow: hidden;
    position: relative;
    border-top-left-radius: calc(12px - 1px);
    border-top-right-radius: calc(12px - 1px);
}

.card-img-hover-zoom img {
    transition: transform .3s;
}



@media screen and (min-width: 480px) {
    .log-in {
        width: 280px;
    }
}

header {
    padding-bottom: 15px;
    position: relative;
    height: 450px;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    clip-path: polygon(0 0,
            100% 0,
            100% calc(100% - 50px),
            0 100%);
    /* change the calc height to a percentage height to get alternate responsive behavior*/
}

.nav-transition {
    transition: background-color .3s;
}

.res-nav {
    background-color: #ff9d2f !important;
}


.carousel-control-sx {
    left: -110px !important;
}

.carousel-control-dx {
    right: -110px !important;
}