<header id="header"></header>

<section class="pt-5 pb-5">
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6">
                <h3 class="h3">I nostri partner </h3>
            </div>
            <div class="col-md-6 text-end d-none d-sm-block">
                <a data-bs-target="#nuovoEnteModal" data-bs-toggle="modal" 
                        ng-if="utente && utente.admin" class="btn mt-auto border border-dark rounded-pill"> <i class="bi bi-building"></i> Nuovo Ente</a>
            </div>
            <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end d-md-none">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselPartner" role="button" data-bs-slide="prev">
                    <i class="bi bi-arrow-left-square"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselPartner" role="button" data-bs-slide="next">
                    <i class="bi bi-arrow-right-square"></i>
                </a>
            </div>
            <div class="col-12 pt-5">
                <div id="carouselPartner" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" ng-class="{active: $first}" ng-repeat="item in enti">
                            <div class="d-flex justify-content-center row">
                                <div class="col-md-4 mb-3" ng-repeat="elem in item">
                                    <div class="card coupon card-hover-zoom" ng-click="filterCoupons(elem)"
                                        ng-class="classCardActive(elem)">
                                        <div class="card-img-hover-zoom border-bottom">
                                            <img class="card-img-top img-fluid bg-white"
                                                ng-src="src\ente\{{elem.id_ente}}.jpg" on-error-src="img\company.png">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">{{elem.nome}}</h4>
                                            <p class="card-text">{{elem.descrizione}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev carousel-control-sx d-none d-sm-block" type="button"
                        data-bs-target="#carouselPartner" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next carousel-control-dx d-none d-sm-block" type="button"
                        data-bs-target="#carouselPartner" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="couponsSection">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-2 text-end d-none d-sm-block"></div>
            <div class="col-md-8 col-sm-12 text-center">
                <h3 class="h3 d">Non perderti questi coupon</h3>
            </div>
            <div class="col-md-2 text-end d-none d-sm-block">
                <a data-bs-target="#nuovoCouponModal" data-bs-toggle="modal" 
                        ng-if="utente" class="btn mt-auto border border-dark rounded-pill"> <i class="bi bi-patch-plus"></i> Nuovo Coupon</a>
            </div>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="row d-flex justify-content-center" ng-repeat="item in coupons">
        <div class="col-md-6" ng-repeat="elem in item">
            <div class="container mt-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-11">
                        <div class="coupon p-3 bg-white border">
                            <div class="row no-gutters">
                                <div class="col-md-4 
                                    border-end-0 border-bottom border-end-md border-bottom-md-0 
                                    pb-2 mb-2 pb-md-0 mb-md-0 
                                    justify-content-center d-flex align-items-center">
                                    <div class="d-flex flex-column align-items-center"><img
                                            ng-src="src\ente\{{elem.id_ente}}.jpg" on-error-src="img\company.png"
                                            class="rounded-circle me-1 coupon-img"><span
                                            class="d-block">{{getEnte(elem.id_ente).nome}}</span><span
                                            class="text-black-50">{{getEnte(elem.id_ente).descrizione}}</span></div>
                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-between">
                                    <div class="d-flex flex-row justify-content-between off px-3">
                                        <div class="d-flex justify-content-start">
                                            <span class="lh-sm" ng-if="elem.data_fine">
                                                <small ng-if="isCouponValid(elem.data_fine)" class="text-muted">Valido
                                                    fino al: <br>{{elem.data_fine | date:'dd/MM/yyyy'}}</small>
                                                <small ng-if="!isCouponValid(elem.data_fine)"
                                                    class="text-danger">Scaduto il: <br>{{elem.data_fine |
                                                    date:'dd/MM/yyyy'}}</small>
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <h1>{{elem.titolo}}</h1>
                                            <i class="bi bi-percent" ng-if="elem.euro_perc === false"></i>
                                            <i class="bi bi-currency-euro" ng-if="elem.euro_perc === true"></i>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between off px-3 p-2">
                                        <span class="pe-2">
                                            {{elem.descrizione}}
                                        </span>
                                        <button type="button" ng-click="copyCode(elem)"
                                            ng-class="{'btn-outline-success' : !elem.copied, 'btn-outline-primary' : elem.copied}"
                                            ng-disabled="elem.copied" class="btn btn-sm mt-auto">{{!elem.copied ?
                                            elem.codice : 'COPIATO!'}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<figure class="text-center pt-5" ng-if="coupons.length == 0">
    <h1 class="display-1"><i class="bi bi-emoji-frown"></i></h1>
    <blockquote class="blockquote">
        <p>Mi dispiace, qui non c'è nulla!</p>
    </blockquote>
</figure>

<div ui-view="nuovoEnte"></div>
<div ui-view="nuovoCoupon"></div>