<li class="nav-item dropdown" ng-if="!utente">
    <a class="nav-link text-uppercase" id="loginDropdownMenu" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" aria-expanded="false" role="button">
        <strong>
            <i class="bi bi-door-open-fill"></i> Login
        </strong>
    </a>
    <div class="dropdown-menu dropdown-menu-end log-in">
        <form class="px-4 py-3" id="formLogin" name="formLogin">
            <div class="d-flex justify-content-center align-items-center overlay" ng-if="loading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="error">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <strong>Ops!</strong> {{errorMsg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <label for="DropdownFormEmail" class="form-label"> <i class="bi bi-envelope"></i> Indirizzo
                    e-mail</label>
                <input type="email" class="form-control shadow" id="DropdownFormEmail" ng-model="loginForm.email"
                    required autofocus>
            </div>
            <div class="mb-3">
                <label for="DropdownFormPassword" class="form-label"> <i class="bi bi-key"></i> Password </label>
                <input type="password" class="form-control shadow" id="DropdownFormPassword" ng-model="loginForm.psw"
                    required>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck"
                        ng-model="loginForm.rememberFlag">
                    <label class="form-check-label" for="dropdownCheck">
                        Ricordami
                    </label>
                </div>
            </div>
            <button type="submit" class="btn mt-auto btn-outline-dark rounded-pill"
                ng-click="formLogin.$valid && signIn()"><span class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true" ng-if="loading"></span>
                Accedi</button>
        </form>
        <div class="dropdown-divider"></div>
        <a id="registerButton" class="dropdown-item menuClick" data-bs-toggle="modal" data-bs-target="#registerModal"
            ng-click="toggleLoginDropdownMenu()">Nuovo arrivato? Registrati! <i class="bi bi-person-plus"></i> </a>
    </div>
</li>

<li class="nav-item dropdown" ng-if="utente">
    <a class="nav-link text-uppercase d-flex align-items-center" role="button" id="profileDropdownMenu" data-bs-toggle="dropdown"
        data-bs-auto-close="outside" aria-expanded="false">
        <img src="img\user.jpg" class="rounded-circle me-1" width="24" />
        <strong>
            {{utente.nome}} {{utente.cognome}}
        </strong>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item menuClick" href="#" ui-sref="home.mineCoupons">I miei coupon</a>
        <a class="dropdown-item menuClick" href="#" ng-click="logOut()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-if="loading"></span>
            Log out</a>
    </div>
</li>