<li class="nav-item dropdown" ng-if="!utente">
    <a class="nav-link" role="button" id="loginDropdownMenu" data-bs-toggle="dropdown" data-bs-auto-close="outside"
        aria-expanded="false">
        Login
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <form class="px-4 py-3" id="formLogin" name="formLogin">
            <div class="d-flex justify-content-center align-items-center overlay" ng-if="loading">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="error">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <strong>Ops!</strong> {{errorMsg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" ng-model="loginForm.email"
                    required placeholder="email@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" ng-model="loginForm.psw"
                    required placeholder="Password">
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck"
                        ng-model="loginForm.rememberFlag">
                    <label class="form-check-label" for="dropdownCheck">
                        Remember me
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="formLogin.$valid && signIn()"><span
                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-if="loading"></span>
                Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal"
            ng-click="toggleLoginDropdownMenu()">New around here? Sign up</a>
    </div>
</li>

<li class="nav-item dropdown" ng-if="utente">
    <a class="nav-link" role="button" id="profileDropdownMenu" data-bs-toggle="dropdown" data-bs-auto-close="outside"
        aria-expanded="false">
        <img src="img\user.jpg" class="rounded-circle me-1" width="24" />
        {{utente.nome}} {{utente.cognome}}
    </a>
    <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="#" ng-click="logOut()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-if="loading"></span>
            Log out</a>
    </div>
</li>