<div class="modal fade" id="nuovoEnteModal" tabindex="-1" aria-labelledby="nuovoEnteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
        <div class="modal-content">
            <form id="formEnte" name="formEnte">
                <div class="d-flex justify-content-center align-items-center overlay" ng-if="loading">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title" id="nuovoEnteModalLabel">Nuovo ente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="error">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong>Ops!</strong> {{errorMsg}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="container-fluid">
                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome" ng-model="signupForm.nome" maxlength="20" required placeholder="Inserisci il nome dell'ente">
                            </div>
                            <div class="col-md-6">
                                <label for="descrizione" class="form-label">Descrizione</label>
                                <input type="text" class="form-control" id="descrizione" ng-model="signupForm.cognome" maxlength="150"
                                 placeholder="Descrizione o motto dell'ente">
                            </div>
                            <div class="mb-3 row">
                                <label for="logo" class="form-label">Logo</label>
                                <input type="file" class="form-control" id="logo" aria-label="file example" required>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    <button type="submit" class="btn btn-primary" ng-click="formSignup.$valid && signUp()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            ng-if="loading"></span>
                        Conferma</button>
                </div>
            </form>
        </div>
    </div>
</div>

    
